body {
    padding-top: 60px;
    padding-bottom: 40px;
}

div.clearfix {
    margin-bottom: 10px;
}

.noticeTemplate {
    position: fixed;
    top: 40px;
    right: 50px;
    min-width: 100px;
}

#canvas {
    width: 100%;
    height: 90%;
}

div.btn-group {
    margin-right: 5px;
}